* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    color: #dedede;
    background: linear-gradient(to right, #096cad, #42d1f5);
}

.row{
    padding:2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

.project{
    background: lightgreen;
    margin: auto;
    height: 35vh;
    min-width: 300px;
}

img{
    height: 100%;
    width: 100%;
}